PORT=5000
MONGO_URI="mongodb+srv://asavant151_db:asavant151db123@cluster0.m6gspqu.mongodb.net/?appName=trackify"
JWT_SECRET="supersecretkey"
FRONTEND_ADMIN_URL="http://localhost:5173"
FRONTEND_EMPLOYEE_URL="http://localhost:5174"

CLOUDINARY_CLOUD_NAME="do3m8poei"
CLOUDINARY_API_KEY="666719352293464"
CLOUDINARY_API_SECRET="MFkV8bmlESSNt78DC5UlWwV3H_c"
