PORT=5000
MONGO_URI="mongodb+srv://asavant151_db:asavant151db123@cluster0.m6gspqu.mongodb.net/?appName=trackify"
JWT_SECRET="supersecretkey"

CLOUDINARY_CLOUD_NAME="do3m8poei"
CLOUDINARY_API_KEY="666719352293464"
CLOUDINARY_API_SECRET="MFkV8bmlESSNt78DC5UlWwV3H_c"

PASSWORD_ENCRYPTION_SECRET = "U2FsdGVkX1/rhdsS81EXbJUpHidq28qYTOwB8UTcmnEXkyJ49APMuOUInqe7hYq0bwdSVUg7cA/JC2hKTs54Hrx3GsuFwAFyVSzfvimRYbdPMgUBJEWXRyHbdahM9jtJ+RIK3VQ94vjRFsecv5VtPg=="
